<% provide(:title, "Edit Product") %>
<div class="items">
  <div class="container">
    <div class="row">
      <div class="span9">
        <h5 class="title">Edit <%= @product.name %></h5>
      	<%= render 'form' %>
      </div>
    </div>
  </div>
</div>