<% if @currencyType.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@currencyType.errors.count, "error") %>.
    </div>
    <ul>
      <% @currencyType.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>