<% provide(:title, "Edit Currency Type") %>
<div class="items">
  <div class="container">
    <div class="row">
      <div class="span9">
        <h5 class="title">Edit Currency Type</h5>
        	<%= render 'form' %>
      </div>
    </div>
  </div>
</div>