<% provide(:title, @currencyType.name) %>

<div class="items">
  <div class="container">
    <div class="row">

   		<div class="span12">
   			<h4 class="pull-left"><%= @currencyType.name %></h4>
   			<div class="clearfix"></div>
   			<div class="row">
   				Show all wallets and their balances here
   			</div>
   		</div>
    </div>
  </div>
</div>
